/* Universal Styles */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webbox-box-sizing: boder-box;
	box-sizing: border-box;

}

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}

/* Global Styles */

ul li { list-style-type: none;}

ul li a { text-decoration: none; }

img { border: 0; }

.hide { display: none; }

.left { float: left; }

.right { float: right; }


/* Desktop Styles*/

.container {
	width: 960px;
	margin: 0 auto;
}

.home {
	background: rgb(145,170,157);
	color: rgb(0,0,0);
	font-size: 13px;
	font-family: 'Roboto Regular', sans-serif;
}

.home h2{
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	margin: 20px 0px 20px 0px;
}

.home p {
	line-height: 2.0em;
	margin: 20px 20px 20px 20px;
}


.quote{
	margin:0px 0px 0px 0px;
}

nav a {
	font-size: 19px;
	text-transform: lowercase;
	color: rgb(0,0,0);
}

nav ul li {
	margin-right: 32px;
	display: inline-block;
}

nav {
	text-align: center;
}

nav a:hover,
nav a:active {
	color: rgba(242,135,5,1);
}

.bg-header{
	background: rgb(209,219,189);
	height: 99px;
	margin: 0px 0px 0px 0px;
	padding:10px 0px 12px 0px;
}

.bg-nav{
	background: rgb(209,219,189);
	height: 50px;
	margin: 10px 0px 12px 0px;
	padding:10px 0px 12px 0px;
}
.bg-article {
	background: rgb(209,219,189);
	height: 630px;
	width: 660px;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.bg-aside {
	background: rgb(209,219,189);
	height: 630px;
	width: 289px;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.bg-aside p {
	margin: 0px 20px 0px 20px;
	line-height: 1.8em;
}

.bg-footer {
	background: rgb(209,219,189);
	height: 50px;
}
.bg-footer p{
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
}
.mainheader {
	background: url("../img/final-header.png") center center no-repeat;
	width: 783px;
	height: 86px;
	margin: 0px 92px 12px 92px;
}

.mainheader h1{
	position: absolute;
	top: -9999em;
	left: -9999em;
}

figure img {
	margin: 10px 11px 5px 11px;
}

i{
	margin-right: 13px;
}

small {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#quote{
	font-size: 11px;
	line-height: 1.5em;
	margin-top: 15px
}