/* Universal Styles */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webbox-box-sizing: boder-box;
	box-sizing: border-box;

}

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}

/* Global Styles */

ul li { list-style-type: none;}

ul li a { text-decoration: none; }

img { border: 0; }

.hide { display: none; }

.left { float: left; }

.right { float: right; }

/* Desktop Styles*/
figure img {
  outline: 5px solid rgb(51,255,255);
  outline-offset: 5px;
  margin-left: 15px;
}

.home a {
	color: rgb(51,255,255);
	display: block;
	transition: all 500ms ease-in;
}

.home a:hover{
	transform: scale(1.1);
}

.home h2 {
	color: rgb(51,255,255);
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
}
.container {
	width: 960px;
	margin: 0 auto;
}

.logo {
	background: url("../img/nolan-logo.png") no-repeat;
	background-size: cover;
	width: 467px;
	height: 77px;
	margin-top: 33px;
	margin-bottom: 33px;
}
.logo h1{
	position: absolute;
	top: -9999em;
	left: -9999em;

}

.bg-top{
	background: url("../img/bg-top_1.jpg") center center no-repeat;
	background-size: cover;
}

.bg-middle{
	/*background: rgb(34,99,95);*/
	background: rgb(142,189,31); /* Old browsers */
background: -moz-linear-gradient(top, rgba(142,189,31,1) 5%, rgba(77,139,33,1) 47%, rgba(22,90,18,1) 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(142,189,31,1) 5%,rgba(77,139,33,1) 47%,rgba(22,90,18,1) 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(142,189,31,1) 5%,rgba(77,139,33,1) 47%,rgba(22,90,18,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ebd1f', endColorstr='#165a12',GradientType=0 );
}

.home{
	/*background: rgb(51, 47, 221); */
	background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(32,124,202,1) 5%, rgba(32,124,202,1) 5%, rgba(32,124,202,1) 16%, rgba(32,124,202,1) 26%, rgba(41,137,216,1) 36%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(32,124,202,1) 5%,rgba(32,124,202,1) 5%,rgba(32,124,202,1) 16%,rgba(32,124,202,1) 26%,rgba(41,137,216,1) 36%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(32,124,202,1) 5%,rgba(32,124,202,1) 5%,rgba(32,124,202,1) 16%,rgba(32,124,202,1) 26%,rgba(41,137,216,1) 36%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
	color: rgb(255,255,255);
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

nav {
	margin-top: 71px;
}
nav a {
	font-size: 18px;
	color: rgb(51,255,255);
	text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F;
}

nav ul li {
	display: inline-block;
	margin-right: 32px;
}

.work{
	padding-top: 45%;
}

#bottom{
	padding-bottom: 8%;
}
.work ul li {
	float: left;
   padding: 15px 10px 5px 10px;
    margin: 5px 20px 5px 20px;
}
}

.work ul li:nth-of-type(4n) {
    margin-right: 0px;
}

.twoColumn {
	margin-top: 10px;
	width: 46%;
}

.home p {
	margin-bottom: 25px;
    line-height: 1.45em;
}

@media only screen and (max-width: 500px){
	.container {
		width: 96%;
		margin: 0 auto;
	}

	.logo {
		margin-top: 0px;
		margin-bottom: 0px;
		float: none;
	}
	nav {
		margin-top: 20px;
		margin-bottom: 20px;
		float: none;
	}

	.twoColumn {
		margin-top: 0px;
		width: 96%;
		float: none;
	}

	.work{
		padding: 0%;
	}

}

@media only screen and (min-width: 501px) and (max-width:1024px){
	.container {
		width: 96%;
		margin: 0 auto;
	}

	.logo {
		margin: 0px 25px 20px 40px;
		text-align: center;
		float: none;
	}
	nav {
		margin: 20px 85px 20px 0px;
		float: none;
		text-align: center;
	}

	.twoColumn {
		margin-top: 0px;
		width: 96%;
		float: none;
	}

	.work{
		padding: 0%;
	}

}
